<footer class="fixed-bottom bg-white shadow-m-above">
    <nav class="container d-flex justify-content-evenly py-4">
        <a href="message.html" class="d-flex flex-column gap-2 justify-content-between align-items-center nav-item nav-item-message">
            <div class="nav-item-img nav-item-img-message"></div>
            <p class="lh-base fs-5">訊息</p>   
        </a>
        <a href="index.html" class="d-flex flex-column justify-content-between align-items-center nav-item nav-item-home">
            <div class="nav-item-img nav-item-img-home"></div>
            <p class="lh-base fs-5">首頁</p>
        </a>
        <a href="profile.html" class="d-flex flex-column justify-content-between align-items-center nav-item nav-item-profile">
            <div class="nav-item-img nav-item-img-profile"></div>
            <p class="lh-base fs-5">我的</p>
        </a>
    </nav>
</footer>