<!-- google icon -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
/>

<header class="shadow-m-under fixed-top bg-white">
  <div class="container d-flex justify-content-between py-6">
    <div>
      <h2>
        <a href="index.html" class="header">Crew Up!</a>
      </h2>
    </div>
    <a
      href="#"
      class="btn p-0 position-relative bg-primary-100 rounded-2 cart d-flex align-items-center justify-content-center"
    >
      <img src="../assets/images/Vector.svg" alt="Notice" class="img-fluid" />
      <span
        class="position-absolute top-0 start-100 translate-middle badge bg-accent rounded-circle p-0 cart-tag lh-base fw-bold text-neutral-50"
      >
        1
      </span>
    </a>
  </div>
</header>
