.nav-item{
    color: $neutral-400;
}
.nav-item-img{
    width: 24px;
    height: 24px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    &-message{
        background-image: url("../images/bottom-tab-icon-message.svg");
    }
    &-home{
        background-image: url("../images/bottom-tab-icon-home.svg");
    }
    &-profile{
        background-image: url("../images/bottom-tab-icon-member.svg");
    }
}

.nav-item-message{
    position: relative;
    &::before{
       content: '';
       position: absolute;
       top: 0;
       right: 0;
       width: 7px;
       height: 7px;
       background-color: $accent;
       border-radius: 50%;
    }
}



// message.html - active 狀態
body[data-page="message"] .nav-item-message{
    .nav-item-img-message{
        background-image: url("../images/bottom-tab-icon-message-active.svg");
    }
    p{
        color: $primary-700;
    }
    &::before{
        display: none;
    }
} 
// index.html - active 狀態
body[data-page="home"] .nav-item-home{
    .nav-item-img-home{
        background-image: url("../images/bottom-tab-icon-home-active.svg");
    }    
    p{
        color: $primary-700;
    }
} 
// profile.html - active 狀態
body[data-page="profile"] .nav-item-profile{
    .nav-item-img-profile{
        background-image: url("../images/bottom-tab-icon-member-active.svg");
    }
    p{
        color: $primary-700;
    }
} 