.header{
  background: url(../images/logo.svg);
  width: 104px;
  height: 27px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.cart{
  width: 24px;
  height: 24px;
}

.cart-tag{
  width: 12px;
  height: 12px;
  font-size: 8px;
}