<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <title>一起完成目標吧！｜Crew Up!</title>
  </head>
  
  <body data-page="home">    
    <%- include('./layout/header'); -%>

    <main class="bgprimarycolor position-relative">

      <section class="bgcrewup ">
        <h2 class="fw-bold text-center py-7" style="font-size: 24px;">Hello! 林薇</h2>
        <p class="text-center pb-4" style="font-weight: 500;">我的活動</p>
        <div class="d-flex justify-content-center gap-4 mb-4">
          <a style="border-bottom: 3px solid #C64508; color: #C64508; font-size: 14px;" href="">進行中(2)</a>
          <a style="border-bottom: 2px solid #656565; color: #656565; font-size: 14px;" href="">報名中(1)</a>
        </div>
        <div class="container py-4 px-4 ">
          <div class="row d-flex flex-nowrap overflow-auto gap-5">
            <div class="d-flex bg-white rounded-4 shadow-sm ms-9 mb-6" style="width: 295px;">
              <img  class="my-6 ms-6 me-4" src="../assets/images/index-img/img-out-door.png" alt="" style="width: 56px; height: 56px;">        
              <div class="mt-6">
                <small class="fw-bolder">每天跑步10公里</small>
                <img class="d-block my-2" src="../assets/images/index-img/progress.png" alt="">
                <div>
                  <!-- <li style="margin: 0; color: #5090A7;"></li> -->
                  <li class="align-items-bottom d-flex" style="font-size: 12px; margin-right: 12px; color: #5090A7;"><i class="bi bi-dot" style="margin-left: -10px; margin-top: -12px; margin-right: -8px; font-size: 28px;"></i>進行中<span class="ms-5 text-neutral-600 text-nowrap" style="font-size: 12px;">2025/07/27-08/26</span></li>
                </div>              
              </div>
            </div>
  
            <div class="d-flex bg-white rounded-4 shadow-sm mb-6" style="width: 295px;">
              <img  class="my-6 ms-6 me-4" src="../assets/images/index-img/img-learning-new.png" alt="" style="width: 56px; height: 56px;">        
              <div class="mt-6">
                <small class="fw-bolder">學習日文30天</small>
                <img class="d-block my-2" src="../assets/images/index-img/80progress.png" alt="">
                <div class="d-flex">
                  <li style="margin-right: -14px; color: #5090A7;"></li>
                  <p class="align-items-bottom" style="font-size: 12px; margin-right: 12px; color: #5090A7;">進行中<span class="ms-5 text-neutral-600" style="font-size: 12px;">2025/07/01-07/31</span></p>
                </div>              
              </div>
            </div>
  
          </div>
  
          
          
        </div>
        <div class="d-flex justify-content-center mb-4">
          <div class="index-text">
            <span class="partnerborder px-5 rounded-3 mb-6 index-triangle" style="padding-top: 9.5px; padding-bottom: 9.5px;">
             和夥伴持續努力完成目標吧！
            </span> 
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <img class="mb-7" src="../assets/images/index-img/cubi_faceR.png" alt="" style="width: 100px; height: 97px;">
        </div>
      </section>
      
      <!-- 增加活動圓形按鈕 -->
        <a style="bottom: 76px; right: 12px" class="position-fixed z-1" href="./activity.html"><img src="../assets/images/index-img/btn-create-activities.png" alt=""></a>

      <!-- 熱門活動 -->
      <section class="mb-7" style="padding-bottom: 19px;"> 
  
        <p class="text-center mb-4" style="font-weight: 500;">熱門活動</p>        
  
        <!-- 熱門活動白卡片區 -->
        <div class="container justify-content-center">
          <div class="row d-flex flex-nowrap overflow-auto">
  
            <div class="me-5 p-6 bg-white rounded-4 shadow-sm position-relative"> 
              
  
              <div class="mb-5 p-0 d-flex justify-content-between">
                <div>
                  <small class="me-2">報名倒數</small><small style="color: #C64508;">4天7小時23分</small>
                </div>
                <div>
                  <small class="py-3 px-5 rounded-pill" style="background-color: #5090A7; color: #FAFAFA;"><i class="bi bi-star-fill me-2" style="color: #FFA552;"></i>熱門活動</small>
                </div>
              </div>
  
              <div class="p-0 mb-5 d-flex">
                <img class="me-4" src="../assets/images/index-img/img-out-door.png" alt="" style="width: 80px; height: 80px;" class="me-2">        
                <div class="align-items-center" style="padding-top: 7px; padding-bottom: 7px;" >
                  <p class="fw-bolder mb-2">每天跑步3公里</p>              
                  <p class="mb-1" style="font-size: 12px;">主題：<span style="color: #5090A7">自我提升</span></p>
                  <div class="d-flex " style="font-size: 12px;">
                    <p style="padding-right: 6px; border-right: 1px solid #292929;">已報名：2/<span style="color: #C64508;">4</span>人</p>
                    <p style="padding-left: 5px;">活動天數：30天</p>
                    
                    <!-- <a style="bottom: 46px;" class="position-absolute" href="./activity.html"><img src="../assets/images/index-img/btn-create-activities.png" alt=""></a> -->
                  </div>
                </div>            
              </div>
  
              <div class="d-flex justify-content-between p-0">
                <div>
                  <img src="../assets/images/index-img/Ellipse 1.png" alt="">
                  <span>Evan</span>
                </div>
                <div>
                  <img style="margin-right: -16px;" src="../assets/images/index-img/Ellipse 4.png" alt="">
                  <img src="../assets/images/index-img/Ellipse 2.png" alt="">
                </div>
              </div>
            </div>
  
            <div class="p-6 bg-white rounded-4 shadow-sm">
              <div class="mb-5 p-0 d-flex justify-content-between">
                <div>
                  <small class="me-2">報名倒數</small><small style="color: #C64508;">9天7小時23分</small>
                </div>
                <div>
                  <small class="py-3 px-5 rounded-pill" style="background-color: #5090A7; color: #FAFAFA;"><i class="bi bi-star-fill me-2" style="color: #FFA552;"></i>熱門活動</small>
                </div>
              </div>
  
              <div class="p-0 mb-5 d-flex">
                <img class="me-4" src="../assets/images/index-img/img-out-door.png" alt="" style="width: 80px; height: 80px;" class="me-2">        
                <div class="align-items-center" style="padding-top: 7px; padding-bottom: 7px;" >
                  <p class="fw-bolder mb-2">走路30分鐘挑戰</p>              
                  <p class="mb-1" style="font-size: 12px;">主題：<span style="color: #5090A7">自我提升</span></p>
                  <div class="d-flex        " style="font-size: 12px;">
                    <p style="padding-right: 6px; border-right: 1px solid #292929;">已報名：2/<span style="color: #C64508;">4</span>人</p>
                    <p style="padding-left: 5px;">活動天數：30天</p>                  
                  </div>
                </div>            
              </div>
  
              <div class="d-flex justify-content-between p-0">
                <div>
                  <img src="../assets/images/index-img/Ellipse 1.png" alt="">
                  <span>Evan</span>
                </div>
                <div>
                  <img style="margin-right: -16px;" src="../assets/images/index-img/Ellipse 4.png" alt="">
                  <img src="../assets/images/index-img/Ellipse 2.png" alt="">
                </div>
              </div>
            </div>
  
          </div>          
  
          
        </div>
  
        
      </section>
  
  
      <!-- 尋找有興趣的主題 -->
      <section>
        <p class="text-center mb-4" style="font-weight: 500;">尋找有興趣的主題</p>
  
        <div class="container pb-7">
          <div class="row py-4">
            <div class="col-3">
              <img class="d-block mx-auto" src="../assets/images/index-img/icon-park-solid_outdoor.png" alt="" class="d-block">
              <p style="font-size: 14px;" class="text-center">自我提升</p>
            </div>
            <div class="col-3">
              <img class="d-block mx-auto" src="../assets/images/index-img/icon-park-outdoor.png" alt="" class="d-block">
              <p style="font-size: 14px;" class="text-center">戶外活動</p>
            </div>
            <div class="col-3">
              <img class="d-block mx-auto" src="../assets/images/index-img/icon-park-solid_relax.png" alt="" class="d-block">
              <p style="font-size: 14px;" class="text-center">放鬆身心</p>
            </div>
            <div class="col-3">
              <img class="d-block mx-auto" src="../assets/images/index-img/icon-park-solid_knowlege.png" alt="" class="d-block">
              <p style="font-size: 14px;" class="text-center">學習新知</p>
            </div>
          </div>
        </div>
      </section>
      <!-- 有其他感興趣的活動嗎 -->
      <section class="bgflower mb-7" style="background-color: #FFEED4; padding-top: 38px; padding-bottom: 38px;">
        
        <div class="mx-auto d-grid" style="width: 183px;">
          <p class="text-center mb-5" style="font-weight: 500;">有其他感興趣的活動嗎?</p>
          <a href="./activity.html" type="button" class="d-flex align-items-center btn btn-danger text-white fw-bold" style="padding-left: 44.5px; padding-right: 44.5px; padding-top: 12px; padding-bottom: 12px;"><i class="bi bi-plus" style="font-size: 24px;"></i>建立活動</a>
        </div>        
      </section> 
      
      <!-- 參與活躍Crewer的活動 -->
      <section>
        <p class="text-center mb-4">參與活躍Crewer的活動</p>
  
        <div class="container d-flex pb-4 justify-content-center">
  
          <div class="row">
            <div class="col-12 px-0 d-flex justify-content-center">
              <div class="d-flex border-bottom pb-6">
                <img src="../assets/images/index-img/david.png" alt="" style="width: 50px; height: 50px; margin-right: 12px;">
                <div>
                  <div class="mb-2 d-flex justify-content-between ">
                    <span>David</span>
                    <span><i class="bi bi-star-fill me-1" style="color: #FFA552;"></i>4.8</span>
                  </div>
                  <div style="font-size: 14px;">
                    <span style="margin-right: 12px;">已完成活動 : 21</span><div class="vr"></div><span style="margin-left: 12px;">進行中活動 : 2</span>
                  </div>
                </div>
              </div>            
            </div>
  
            <div class="col-12 px-0 d-flex justify-content-center">
              <div class="d-flex border-bottom py-6">
                <img src="../assets/images/index-img/Evan.png" alt="" style="width: 50px; height: 50px; margin-right: 12px;">
                <div>
                  <div class="mb-2 d-flex justify-content-between ">
                    <span>Evan</span>
                    <span><i class="bi bi-star-fill me-1" style="color: #FFA552;"></i>4.7</span>
                  </div>
                  <div style="font-size: 14px;">
                    <span style="margin-right: 12px;">已完成活動 : 16</span><div class="vr"></div><span style="margin-left: 12px;">進行中活動  42</span>
                  </div>
                </div>
              </div>            
            </div>
  
            <div class="col-12 px-0 d-flex justify-content-center">
              <div class="d-flex pt-6 pb-4 mb-7">
                <img src="../assets/images/index-img/Jenine.png" alt="" style="width: 50px; height: 50px; margin-right: 12px;">
                <div>
                  <div class="mb-2 d-flex justify-content-between ">
                    <span>Jenine</span>
                    <span><i class="bi bi-star-fill me-1" style="color: #FFA552;"></i>4.8</span>
                  </div>
                  <div style="font-size: 14px;">
                    <span style="margin-right: 12px;">已完成活動 : 12</span><div class="vr"></div><span style="margin-left: 12px;">進行中活動 12</span>
                  </div>
                </div>
              </div>            
            </div>
  
            
  
          </div>
  
          
        </div>
        
        
      </section> 

    </main>  

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>